body{
    text-align: center;
    box-sizing: border-box;
    margin:0 auto;
  }
  #img_header_container{
  width: 100%;
  height: auto;
  
  }
  #img_header{
    background-image: url("https://imgur.com/W7nnF64.png");
    background-size: cover;
    background-position: center;
    width:100%;
    
  }
  h1{
    padding: 133px;
    color:rgb(133, 133, 149);
    text-shadow: 3px 3px 3px rgb(76, 76, 116);
  }
  h4{
    color:#000;
  }
  
  main{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5px;
    width:100%;
    height:100%;
  }
  
  #one{
    box-sizing: border-box;
    margin:0 auto;
    padding: 0;
    width: 100%;
    height:100%;
  }
  
  article:nth-of-type(1){
    margin:0;
    padding-top: 20px;
    width:calc(100%/3);
    height: 100%;
    float: left;
  }
  
  article:nth-of-type(2){
    color:blue;
    margin:0;
    padding-top: 20px;
    width:calc(100%/3);
    height:100%;
    float: left;
  }
  
  article:nth-of-type(3){
    margin:0;
    padding-top: 20px;
    width:calc(100%/3);
    height:100%;
    float: right;
  }
  
  #row{
    width:100%;
    height: 100%;
  }
  
  button{
    background-color: blue;
    color:darkblue;
    margin-bottom: 20px;
    width: 30%;
    height: 50%;
    border-radius: 10px;
  }
  ul{
    list-style: none;
    display: center;
    padding:13px;
    transform: translate(-1px, -1px);
  }
  li{
    padding: 13.3px;
    display: inline-block;
  }
  #pathway_clear{
    background-image: url("https://imgur.com/sgaFvLZ");


  }
  
  footer{
    text-align:center;
    background-color: darkgrey;
    margin:0 auto;
    padding: 20px;
    width:100%;
  }
  
  img:nth-of-type(4){
    margin-right: 90px;
  
  }
  #img{
    padding: 3px;
    border-radius: 13.3%;
    transition: transform .2s;
  }
  #img:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px blue;
  
  }
  #owner{